* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    scroll-behavior: smooth;
}

body {
    background-color: #FBEECA;
    
}

section {
    padding-top: 3rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
}

img {
    width: 10rem;
    height: auto;
    margin: 1rem auto;
}

.portrait-text {
    text-align: center;
    
}

hr {
    width: 80%;
    margin: 1rem auto auto auto;
    border: solid black 1px;
}

/* Navigation */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    height: 3rem;
    width: 100%;
    top: 0;
}

nav a {
    padding: 1rem 2rem 1rem 2rem;
    float: left;
    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

li {
    display: inline;
    height: 5rem;
}

nav li:hover {
    background-color: #FBEECA;
    height: 3rem; 
}

nav a:hover {
    background-color: #FBEECA;
    color: black;
    padding: 1rem 2rem;
}

@media screen and (max-width: 1200px) {
    nav a {
        padding: 1rem 1rem 1rem 1rem;
    }
    
    nav a:hover {
        background-color: #FBEECA;
        color: black;
        padding: 1rem 1rem;
    }

    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 950px) {
    nav a {
        padding: 1rem;
    }
    
    nav a:hover {
        background-color: #FBEECA;
        color: black;
        padding: 1rem;
    }

    html {
        font-size: 85%;
    }
}

@media screen and (max-width: 800px) {
    
    nav ul {
        display: flex;
        flex-direction: column;
    }

    #main {
        margin-top: 20rem;
    }

    nav li {
        height: 3rem; 
        margin: 0 auto;
    }

    nav ul {
        margin-top: 15rem;  
    }  

    nav a {
        width: 100vw;
        text-align: center;
        background-color: black;
        border-top: 1px solid white;
    }
}

h1 {
    text-align: center;
    padding: 5rem;
}

h2 {
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
}

h3 {
    text-align: center;
    padding: 1rem;
}

p {
    margin: 1rem auto 3rem auto;
    width: 80%;
}
